<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      ... inbox soon
    </div>
  </main>
</div>


<!-- Deixar ele vazio

http://localhost:4200

- Cmail
  - /email (Inbox)
    - Editor para enviar emails
    - Email Interna
  - /login
  - /cadastro
- Material Design
  - https://getmdl.io/ (tipo o bootstrap do material design)

=====-=

1 - Trazer o CSS do Material Design
2 - -->
